/project/node_modules
/hot
/storage
/project/storage/*.key
/project/vendor
/project/.env
/project/.env.backup
/project/.phpunit.result.cache
/project/docker-compose.override.yml
/project/Homestead.json
/project/Homestead.yaml
/project/npm-debug.log
/project/yarn-error.log
/project/composer.lock
